<p id="notice"><%= notice %></p>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">ADD NEW ACTOR/ACTRESS</h1>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
            <div class="col-md-12">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                  <p class="card-text">
                    <%= render 'form', actor: @actor %>
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <%= link_to 'Back', actors_path, :class=>"btn btn-sm btn-outline-secondary" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </div>

    </div>
  </div>

</main>
